body {
  background: #000;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#content {
  overflow: auto;
  position: relative;
}

.line {
  text-align: center;
  background: #222222AA;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 25px 20% 25px 20%;
  
  color: #fff;
  font-family: sans-serif;
  font-size: 1.2em;
}